@font-face {
    font-family: 'IRAN-Sans';
    src: url(../fonts/IRAN-Sans.eot?493315b0def63f2c6027f807837d367d);
    src: url(../fonts/IRAN-Sans.eot?493315b0def63f2c6027f807837d367d) format("embedded-opentype"), url(../fonts/IRAN-Sans.woff?7ff436d41aa0c6c17287c655d94b995c) format("woff"), url(../fonts/IRAN-Sans.ttf?09b307ac2b44be0a1cb3cb239959d89c) format("truetype"), url(../fonts/IRAN-Sans.svg?b0c254c4f70f776087105e266ac5118b) format("svg");
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: IRAN-Sans;
    background: #e8e8e8;
}